@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .main-container {
    width: 85%;
    background-color: rgb(139, 139, 9);
    border-radius: 10px;
    margin: 6rem 3rem;
    overflow: hidden;
}

.app .main-container .card {
    padding: 40px;
}

.app .main-container .card .card__icon {
    height: 35px;
    margin-bottom: 2rem;
}

.app .main-container .card .card__title {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 2.2rem;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.app .main-container .card .card__description {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    margin-bottom: 2rem;
}

.app .main-container .card .card__button button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
    transition: all 300ms ease-in-out;
    outline: none;
}

.app .main-container .card .card__button button.text--bright-orange {
    color: hsl(31, 77%, 52%);
}

.app .main-container .card .card__button button.text--dark-cyan {
    color: hsl(184, 100%, 22%);
}

.app .main-container .card .card__button button.text--very-dark-cyan {
    color: hsl(179, 100%, 13%);
}

.app .main-container .card .card__button button:hover {
    transform: translateY(-10px);
}

.app .main-container .card.card--bright-orange {
    background-color: hsl(31, 77%, 52%);
}

.app .main-container .card.card--dark-cyan {
    background-color: hsl(184, 100%, 22%);
}

.app .main-container .card.card--very-dark-cyan {
    background-color: hsl(179, 100%, 13%);
}

@media screen and (min-width: 1339px) {
    .app {
        height: 100vh;
    }

    .app .main-container {
        display: flex;
        max-width: 800px;
    }
}
